
<div ng-controller="connectionsCtrl">

	<br>
	<div class="row">
		<div class="col-md-6">
			<h5>Search connections</h5>
			<form>	
				<div class="form-group">
					<label for="nameSC">Name</label>
					<input ng-model="searchConnection.connectionName" type="text" class="form-control form-control-sm" id="nameSC">
				</div>
				<div class="form-group">
					<label for="projectSC">Project</label>
					<input ng-model="searchConnection.project" type="text" class="form-control form-control-sm" id="projectSC">
				</div>
				<div class="form-group">
					<label for="ownerSC">Owner</label>
					<input ng-model="searchConnection.owner" type="text" class="form-control form-control-sm" id="ownerSC">
				</div>
				<div class="form-group">
					<label for="branchSC">Branch</label>
					<input ng-model="searchConnection.branchName" type="text" class="form-control form-control-sm" id="branchSC">
				</div>
				<button ng-click="search()" type="button" class="btn btn-primary">Search</button>
			</form>
		</div>
		<div class="col-md-6">
			<h5>{{operation}} connection</h5>
			<form>
				<div class="form-group">
					<label for="namelNC">Name</label> 
					<input ng-model="connection.connectionName" type="text" class="form-control form-control-sm" id="namelNC">
				</div>
				<div class="form-group">
					<label for="urlNC">URL</label>
					<input ng-model="connection.url" type="text" class="form-control form-control-sm" id="urlNC">
				</div>
				<div class="form-group">
					<label for="tokenNC">Token</label>
					<input ng-model="connection.token" type="text" class="form-control form-control-sm" id="tokenNC">
				</div>
				<div class="form-group">
					<label for="projectNC">Project</label>
					<input ng-model="connection.project" type="text" class="form-control form-control-sm" id="projectNC">
				</div>
				<div class="form-group">
					<label for="ownerNC">Owner</label>
					<input ng-model="connection.owner" type="text" class="form-control form-control-sm" id="ownerNC">
				</div>
				<div class="form-group">
					<label for="branchNameNC">Branch</label>
					<input ng-model="connection.branchName" type="text" class="form-control form-control-sm" id="branchNameNC">
				</div>
				<button ng-click="save()" type="button" class="btn btn-primary">Save</button>
				<button ng-click="cancel()" type="button" class="btn btn-primary">Cancel</button>
			</form>
		</div>
	</div>
	<br>
	<div>
		<h5>Available connections</h5>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>URL</th>
					<th>Owner</th>
					<th>Project</th>
					<th>Branch Name</th>
					<th>
						<div class="btn-group pull-right">
							<button class="btn btn-primary btn-sm" ng-click="back()" ng-disabled="pageNum == 0">Back</button>
							<button class="btn btn-primary btn-sm" ng-click="next()" ng-disabled="pageNum == totalPages - 1">Next</button>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="conn in connections">
					<td>{{conn.connectionName}}</td>
					<td>{{conn.url}}</td>
					<td>{{conn.owner}}</td>
					<td>{{conn.project}}</td>
					<td>{{conn.branchName}}</td>
					<td>
						<button ng-click="delete(conn.connectionId)" class="btn btn-danger btn-sm">Delete</button>
						<button ng-click="edit(conn.connectionId)" class="btn btn-warning btn-sm">Edit</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>		
</div>